@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic");
/*
$color-text-general: #333333;
$color-app-general: #EEEEEE;
$color-app-complementary: #2E61C2;
*/
body,
html {
  font-family: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: normal;
  font-smooth: always;
  background-color: #F7F7F7;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased; }

.bar .icon {
  border: none; }
  .bar .icon:before, .bar .icon.icon-left:before, .bar .icon.icon-right:before,
  .bar .icon .icon:before {
    font-size: 18px; }

.footer-bar {
  background: none;
  border: none;
  text-align: center;
  height: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 12px;
  padding: 6px 0;
  opacity: 0.4; }

.tvkiller-logo {
  width: 250px;
  height: 150px;
  display: block;
  margin: 0 auto;
  background-image: url("../img/tvkiller_logo.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain; }

.channels-list {
  background-color: #05255c;
  background-color: #2e61c2; }
  .channels-list h2 {
    font-weight: 300;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    padding: 0 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: white; }
  .channels-list h4 {
    font-weight: 100;
    color: #387ef5;
    margin-top: 40px;
    padding: 0 16px;
    font-size: 30px;
    color: white; }
  .channels-list ion-list {
    font-size: 0;
    line-height: 0;
    width: 100%; }
    .channels-list ion-list .list {
      width: 100%;
      padding: 0 16px; }
    .channels-list ion-list .item-complex {
      display: inline-block;
      margin-bottom: 2px;
      width: 33.3333%;
      text-align: center;
      font-size: 13px;
      font-weight: 400;
      line-height: 17px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding: 0;
      margin: 0;
      overflow: visible;
      border: none;
      background: none;
      margin-bottom: 45px; }
      .channels-list ion-list .item-complex .item-content {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        width: 85px;
        height: 85px;
        background-color: white;
        padding: 0;
        margin: 0 auto;
        overflow: visible; }
      .channels-list ion-list .item-complex .channel-name {
        position: absolute;
        top: 92px;
        left: 0;
        width: 100%;
        font-size: 15px;
        font-weight: 300;
        color: white; }
      .channels-list ion-list .item-complex .channel-logo {
        display: table;
        width: 100%;
        height: 100%; }
        .channels-list ion-list .item-complex .channel-logo .channel-logo-fix {
          display: table-cell;
          vertical-align: middle;
          text-align: center; }
          .channels-list ion-list .item-complex .channel-logo .channel-logo-fix img {
            max-width: 65px;
            max-height: 65px; }

.channel-page {
  background-color: #F7F7F7;
  background-color: #2e61c2; }
  .channel-page .scroll {
    width: 320px;
    margin: 0 auto;
    margin-top: 20px; }
  .channel-page .scroll-view {
    background-color: gray; }
  .channel-page .range {
    padding: 0; }
  .channel-page .video-scroll-range {
    -webkit-appearance: none;
    overflow: visible;
    margin: 0;
    height: 8px;
    background-color: white;
    background-color: white; }
    .channel-page .video-scroll-range::-webkit-slider-thumb {
      background: none;
      box-shadow: none;
      border-radius: 0;
      overflow: visible;
      width: 0; }
      .channel-page .video-scroll-range::-webkit-slider-thumb:after {
        -webkit-appearance: none;
        content: url("../img/tvkiller_slider_pointer.svg");
        width: 25px;
        height: 40px;
        padding: 0 !important;
        margin: 0 !important;
        display: block;
        top: 5px;
        left: -20px; }
      .channel-page .video-scroll-range::-webkit-slider-thumb:before {
        background-color: #a9db60;
        height: 8px;
        top: 10px; }
    .channel-page .video-scroll-range:after {
      content: '';
      width: 2000px;
      height: 40px;
      background-color: #2e61c2;
      display: block;
      position: absolute;
      left: -2000px;
      top: 210px; }
  .channel-page .button-trigger {
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background-color: #a9db60;
    display: block;
    margin: 100px auto 0;
    cursor: pointer;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
    border: none;
    border: 10px solid transparent; }
    .channel-page .button-trigger:hover, .channel-page .button-trigger:focus, .channel-page .button-trigger.activated {
      border: 5px solid white;
      background-color: red; }
  .channel-page .button-text {
    font-family: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
    color: white; }
